{% extends "core/base.html" %}

{% load static i18n %}

{% block title %}{% trans "Création de compte | Camping Le Maine Blanc" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block content %}
<section class="container py-5">
    <div class="container-title text-center mb-4">
        <img src="{% static 'pictures/peindre.png' %}" alt="{% trans "Décoration" %}" class="img-deco-left"/>
        <h1 class="title-register">{% trans "Créer un compte" %}</h1>
        <img src="{% static 'pictures/peindre.png' %}" alt="{% trans "Décoration" %}" class="img-deco-right"/>
    </div>

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul class="mb-0">
            {% for field in form %}
                {% for error in field.errors %}
                    <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post" class="card card-body shadow-sm mx-auto" style="max-width: 400px;">
        {% csrf_token %}

        <!-- Groupe infos personnelles -->
         <div class="mb-3">
            <div class="label-register">{{ form.username.label_tag }} <span class="span-register text-danger">*</span></div>
            {{ form.username }}
        </div>
        
        <div class="mb-3">
            <div class="label-register">{{ form.first_name.label_tag }} <span class="span-register text-danger">*</span></div>
            {{ form.first_name }}
        </div>
       
        <!-- Email -->
        <div class="mb-3">
            <div class="label-register">{{ form.email.label_tag }} <span class="span-register text-danger">*</span></div>
            {{ form.email }}
        </div>

        <!-- Mot de passe -->
        <div class="mb-3">
            <div class="label-register">{{ form.password1.label_tag }} <span class="span-register text-danger">*</span></div>
            {{ form.password1 }}
        </div>
        <div class="mb-3">
            <div class="label-register">{{ form.password2.label_tag }} <span class="span-register text-danger">*</span></div>
            {{ form.password2 }}
        </div>

        <button type="submit" class="btn">{% trans "Créer un compte" %}</button>

        <p class="small text-muted mt-3">
            <span class="text-danger">*</span> {% trans "Champs obligatoires" %}
        </p>
    
    </form>

    <p class="mt-3 text-center">
        {% trans "Déjà un compte ?" %} <a href="{% url 'login' %}" class="link-register">{% trans "Se connecter" %}</a>
    </p>
</section>
{% endblock %}
