{% extends "core/base.html" %}

{% load static i18n custom_filters %}

{% block title %}{% trans "Informations pratiques | Camping Le Maine Blanc" %}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/infos.css' %}" />
{% endblock %}

{% block content %}
<section class="container py-5" role="region" aria-labelledby="infos-title">

    <div class="container-title">
        <img src="{% static 'pictures/peindre.png' %}" alt="" loading="lazy" class="img-deco-left" />
        <h1 id="infos-title" class="title-infos">{% trans "Informations pratiques" %}</h1>
        <img src="{% static 'pictures/peindre.png' %}" alt="" loading="lazy" class="img-deco-right" />
    </div>
    <!--Schedules  -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans 'Horaires' %}</h2>
        <ul>
            <li class="mb-3">
                <strong>{% trans 'Accueil :' %}</strong> 
                {% trans "Isabelle et Franck vous accueillent chaque jour de" %} {{ camping_info.welcome_start|format_time_by_locale }} {% trans "à" %} {{ camping_info.welcome_end|format_time_by_locale }} {% trans "et de" %} {{ camping_info.welcome_afternoon_start|format_time_by_locale }} {% trans "à" %} {{ camping_info.welcome_afternoon_end|format_time_by_locale }} {% trans "pour répondre à vos questions et vous accompagner durant votre séjour." %}
            </li>
            <li class="mb-3">
                <strong>{% trans 'Arrivées :' %}</strong> 
                {% trans "Les arrivées se font entre" %} {{ camping_info.arrivals_start_high|format_time_by_locale }} {% trans "et" %} {{ camping_info.arrivals_end_high|format_time_by_locale }} {% trans "en haute saison, et jusqu’à" %} {{ camping_info.arrivals_end_low|format_time_by_locale }} {% trans "en basse saison, afin que chacun puisse s’installer confortablement." %}
            </li>
            <li class="mb-3">
                <strong>{% trans 'Départs :' %}</strong> 
                {% trans "Le jour de votre départ, merci de libérer votre emplacement avant" %} {{ camping_info.departure_end|format_time_by_locale }} {% trans "afin de permettre une bonne organisation pour les prochains arrivants." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Portail de sécurité :" %}</strong> 
                {% trans "Pour la tranquillité de tous, le portail est fermé de" %} {{ camping_info.portal_start|format_time_by_locale }} {% trans "à" %} {{ camping_info.portal_end|format_time_by_locale }}. {% trans "Merci d’anticiper vos déplacements en conséquence." %}
            </li>
        </ul>
    </div>

    <!-- Accessibility -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans 'Accessibilité' %}</h2>
        <p>{% trans "Parce que nous tenons à accueillir chacun dans les meilleures conditions, notre camping dispose d’aménagements adaptés aux personnes à mobilité réduite afin de leur garantir un séjour agréable et serein." %}</p>
    </div>

    <!-- Camping-car -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans "Camping-car" %}</h2>
        <p>{% trans "Pour plus de confort, le camping met à disposition des camping-caristes une aire équipée pour : " %}</p>
        <ul>
            <li>{% trans "le remplissage / la vidange des eaux usées" %}</li>
            <li>{% trans "la vidange des caissettes WC" %}</li>
        </ul>
    </div>

    <!-- Payment et conditions -->
    <div class="info-section mb-5">
        <h2 class="under-title-infos">{% trans "Conditions de séjour & Paiement" %}</h2>
        <ul>
            <li class="mb-3">
                <strong>{% trans "Règlement du séjour :" %}</strong>
                {% trans "Le paiement de la location, des taxes, des charges ou de la caution s’effectue dès l’inscription à l’accueil." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Affichage des tarifs :" %}</strong>
                {% trans "Les montants sont indiqués à l’entrée du camping, à l’accueil, et détaillés ci-dessous." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Préparation du départ :" %}</strong>
                {% trans "Les clients séjournant en mobil-home sont invités à prévenir l’accueil la veille de leur départ afin d’organiser l’état des lieux." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Visiteurs et animaux :" %}</strong>
                {% trans "Chaque visiteur doit obligatoirement se présenter à l’accueil dès son arrivée et présenter une pièce d’identité. Les animaux de compagnie sont les bienvenus sous réserve de présenter un carnet de vaccination à jour." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Conditions de remboursement :" %}</strong>
                {% trans "Aucun remboursement n’est possible en cas de mauvais temps, d’arrivée tardive ou de départ anticipé, sauf circonstances particulières justifiées (ex. : hospitalisation)." %}
            </li>
            <li class="mb-3">
                <strong>{% trans "Annulation par le camping :" %}</strong>
                {% trans "Les propriétaires se réservent le droit d’annuler une réservation en cas de force majeure, d’erreur manifeste de disponibilité, ou de non-respect du règlement intérieur. Dans ce cas, le client sera intégralement remboursé des sommes versées." %}
            </li>
        </ul>
    </div>

    <!-- Plan -->
    <div class="info-section row align-items-center">
        <div class="col-md-6">
            <h2 class="under-title-infos">{% trans "Plan du camping" %}</h2>
            <picture>
                <source srcset="{% static 'pictures/plan.webp' %}" type="image/webp">
                <img src="{% static 'pictures/plan.jpg' %}" alt="{% trans "Plan du camping" %}" class="img-fluid rounded shadow">
            </picture>
        </div>
        <div class="container-plan-text col-md-6 d-flex">
            <div class="contenair-text">
                <p>{% trans "Notre camping propose" %} {{ capacity_info.number_locations }} {% trans "emplacements pour tous les goûts : ombragés, semi-ombragés ou ensoleillés, avec ou sans électricité, pour un séjour confortable et personnalisé." %}</p>
                <p>{% trans "Des fontaines à eau sont réparties dans tout le camping pour vous faciliter la vie pendant votre séjour." %}</p>
                <p>{% trans "Pour ceux qui préfèrent le confort d’un logement, nous disposons également de" %} {{ capacity_info.number_mobile_homes }} {% trans "mobil-homes entièrement équipés." %}</p>
                <p>{% trans "Parcourez notre plan pour découvrir l’agencement des emplacements et des services, et préparer au mieux votre séjour." %}</p>
            </div>
        </div>
    </div>
  
  
</section>
{% endblock %}
